<!DOCTYPE html>
<html lang="en">
<%-include ../partials/_head.ejs%> 
<body>
 <%-include ../partials/_navbar.ejs%> 
<h1> Edit Your Profile </h1>
        <form action="/destinations/<%=destinationsOnThePage.id%>?_method=PUT" method="POST">
        <label for="city">City:</label>
        <input type="text" name="city" value="<%=destinationsOnThePage.city%>"></p>
        <label for="country">Country:</label>
        <input type="text" name="country" value="<%=destinationsOnThePage.country%>"></p>
        <label for="rating">Rating:</label>
        <input type="text" name="rating" value="<%=destinationsOnThePage.rating%>"></p>
        <label for="description">Description:</label>
        <input type="text" name="description" value="<%=destinationsOnThePage.description%>"></p>
        <label for="visitSeason">Visit Season:</label>
        <input type="text" name="visitSeason" value="<%=destinationsOnThePage.visitSeason%>"></p>
    
        <input type="submit" value="Update">
        </form>
   
   <%-include ../partials/_footer.ejs%> 
</body>
</html>