<!DOCTYPE html>
<html lang="en">
<%-include ../partials/_head.ejs%> 
<body>
<nav>
<%-include ../partials/_navbar.ejs%> 
</nav>
    <h1>Destination Collection</h1>

<!--Profile-->
<h2>Past Travels</h2>
<a href ="/destinations/show"></a>

<!--Loop-->

<table>
       <tr>
           <th>Travels Log</th>
       </tr>
            <%destinationsOnThePage.forEach(function(Destinations,index){%>
       <tr>
            <a href="/destinations/<%=Destinations._id%>"><%= Destinations.city%></a>
            <a href="/destinations/<%=Destinations._id%>"><%= Destinations.user%></a>

       </tr>
       <%})%>
   </table>



<br>
<!--New-->
<h2>Where to?</h2>
<<<<<<< HEAD
=======
<a href = "/destinations/new"> Next </a>
>>>>>>> e3d51f9436d40005d6d717acb28abe313eb83d92

<a href = "/destinations/new"> Next </a>

    <footer>
    <%-include ../partials/_footer.ejs%> 
    </footer>
</body>
</html>