<!DOCTYPE html>
<html lang="en">
<%-include ../partials/_head.ejs%> 
<style>
a {
    display: block;
    padding: 8px;
    background-color:;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
 a:hover {
    background-color: turquoise;
 }
</style>
<body>
<div class="container">
<%-include ../partials/_navbar.ejs%>
<div> 
    <h1>Destination Collection</h1>
</div>
<!--Profile-->
<a href ="/destinations/show"></a>

<!--Loop-->

       
            <%destinationsOnThePage.forEach(function(Destinations,index){%>
       <tr>
            <a href="/destinations/<%=Destinations._id%>"><%= Destinations.city, Destinations.country%></a>
       </tr>
       <%})%>


<br>
    <footer>
    <%-include ../partials/_footer.ejs%> 
    </footer>
</div>
</body>
</html>