<!DOCTYPE html>
<html lang="en">

<head>
<%include ../partials/_head.ejs%>
</head>

<body>
<div class="container">
 <%-include ../partials/_navbar.ejs%>

    <h1> Your Profile: </h1>

    <div class="name"> 
        <h3>User Name</h3>
        <p><%=oneUser.username%></p>
    </div>

    <div class="quote"> 
        <h3>Favorite Quote</h3> 
        <p><%=oneUser.quote%></p>
    </div>

    <div class="travelExperience">
        <h3>Travel Experience</h3>  
        <p><%=oneUser.experienceLevel%></p>
    </div>
    <div class="interests">
        <h3>Travel Interests</h3>
        <p><%=oneUser.interests%></p>
    </div>

    <div class = "bucketList">
        <h3>Bucket List</h3>  
        <p><%=oneUser.bucketList%></p>
    </div>

    <div class="hometown">
        <h3>Hometown</h3>  
        <p><%=oneUser.hometown%></p>
    </div>
    <button><a href="/users/<%=oneUser._id%>/edit">Edit</a></button>
    <%-include ../partials/_footer.ejs%>
</div>
</body>
</html>
