<!DOCTYPE html>
<html lang="en">


<%-include ../partials/_head.ejs%> 
<nav>
 <%-include ../partials/_navbar.ejs%>
</nav>

<style>
</style>

<div class="grid-container">
    <div class="item1">

</div>


<div class="item2">
    <h1>Your Profile</h1>
    </div>

    <div class="item3">

     <div id="user">
    <p>Name: <%=oneUser.username%> </p>
    </div>
     <div id="quote">
    <p>Favorite Quote: <%=oneUser.quote%></p>
    </div>
     <div id="experience">
    <p>Travel Experience: <%=oneUser.experienceLevel%></p>
    </div>
     <div id="interests">
    <p>Travel Interests: <%=oneUser.interests%></p>
    </div>
     <div id="bucket">
    <p>Bucket List: <%=oneUser.bucketList%></p>
    <div>
     <div id="home">
    <p>Hometown: <%=oneUser.hometown%></p>
    </div>
     <div id="edit">
    <button><a href="/users/<%=oneUser._id%>/edit">Edit</a></button>
    </div>
   
</div>
  
</body>
</html>
